# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Environment
.env
.venv
venv/
ENV/

# VS Code
.vscode/

# Output files
output/extracted_images/*
output/debug_output/*
!output/extracted_images/.gitkeep
!output/debug_output/.gitkeep

# Temporary files
temp/
*.log
